<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: whitesmoke;
            margin-left: 252px;
            height:650px;
            margin-top: 64px;
            width: 1280px;
            border-radius: 10px;
            box-shadow:4px;
        
        }
        h1{
            color:blue;
        }
        .viewroom{
            text-decoration:none;
        }
    </style>
</head>
<body>
    {% include 'designer/base.html' with designer=request.user.designer %}
    <div class="container"><br><br><br>
        <center><h1>Customer Own Customized Rooms</h1></center>
        <hr color="orange" width="1100"><br>
        <table border="1" height="200" width="1000" align="center" >
        <tr align="center" background-color="blue">
            <th >s.no</th>  <th>view Room</th> <th>Customer</th> <th> design this Room</th>
        </tr>
        {% for room in rooms %}
        <tr align="center" >
            <td>{{forloop.counter}}</td>  
    
            <td><a href="{% url 'designer-viewing-customer-own-customized-room' room.id  %}" class="viewroom">View Room</a></td>
            <td>{{room.customer.user}}</td>
            <td><a href="{% url 'designer-taking-customer-own-customized-room-order' room.id %}"><i class="fa fa-check-circle" style="font-size:30px;color:green"></i></a></td>
          
        {% endfor %}  
        </tr>
        
    </table>
</body>
</html>