<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   

    <style>

        
        body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: ghostwhite;
}
.container{
    background-color: whitesmoke;
    margin-left: 250px;
    height:650px;
    margin-top: 60px;
    width: 1275px;
    border-radius: 10px;
    box-shadow:4px;

}

h1{
   color:blue;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: black;
}
th {
  background-color: darkgray;
}
.edit{
  text-decoration:none; 
}
    </style>
</head>
<body>
    {% include 'admin/base.html' %}
<div class="container"><br><br><br>
<center><h1>Existing Worker Details</h1></center>
<hr color="orange" width="1100"><br>
<table border="1" height="200" width="1000" align="center" >
<tr align="center" background-color="blue">
    <th >s.no</th>  <th>profile pic</th>   <th>Full Name</th>  <th>Profession</th> <th> Salary</th> <th>Contact Number</th> <th>Edit</th> <th>Delete</th>
</tr>
 {% for worker in  workers %}
<tr align="center" >
    <td>{{forloop.counter}}</td>
      <td><img src="{{worker.profile_pic.url}}" width="50" height="50"></td>  
       <td> {{worker.full_name}}</td>
       <td>{{worker.profession}}</td>
       <td>{{worker.salary}}</td>
       <td>{{worker.contact_number}}</td>
       <td><a href="{% url 'admin-worker-edit' worker.id %}" class="edit">Edit</a></td>
       <td><a href="{% url 'admin-worker-delete' worker.id %}" class="edit">Delete</a></td>
          
</tr>
{% endfor %} 
<table>
</div>
</body>
</html>